{% extends "base.html" %}
{% block title %}Add to Cart - FitMarket{% endblock %}

{% block content %}
<div class="container my-5 text-center">
    <form method="post" action="{% url 'gymstore:add_to_cart' product_id=product.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary">Add to Cart</button>
    </form>
    
    {% if product %}
        <h2>{{ product.name }} has been added to your cart!</h2>
    {% endif %}

    <p>Would you like to:</p>
    <div>
        <a href="{% url 'gymstore:checkout' %}" class="btn btn-primary">Checkout Cart</a>
        <a href="{% url 'gymstore:product_lists' %}" class="btn btn-secondary">Continue Shopping</a>
    </div>
</div>
{% endblock %}
