{% extends "base.html" %}

{% block title %}Your Cart - FitMarket{% endblock %}

{% block content %}
<div class="container my-5">
    <h2>Your Cart</h2>
    {% if cart_products %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product in cart_products %}
                    <tr>
                        <td>{{ product.product.name }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>€{{ product.product.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'gymstore:checkout' %}" class="btn btn-primary">Checkout </a>
    {% else %}
        <p>Your cart is empty. <a href="{% url 'gymstore:product_lists' %}">Continue shopping</a>.</p>
    {% endif %}
</div>
{% endblock %}
