{% extends 'base.html' %}
{% load static %}

{% block title %}Product Lists - FitMarket{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center">All Gym Products</h1><br><br>

    <div class="row g-4">
        {% for product in products %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card product-card">
                    <div class="product-image">
                        <img src="{% static product.image %}" alt="{{ product.name }}" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text text-muted">€{{ product.price }}</p>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text text-muted">In: {{ product.subcategory.name }}</p>

                        <div class="d-flex justify-content-center">
                            {% if product.stock > 0 %}
                                <a href="{% url 'gymstore:add_to_cart' product_id=product.id %}" 
                                   class="btn btn-add-to-cart">
                                    Add to Cart
                                </a>
                            {% else %}
                                <span class="btn btn-unavailable">Unavailable</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
