{% extends "base.html" %}
{% block title %}{{ product.name }} - FitMarket{% endblock %}

{% block content %}

<div class="container">  
<br/>
    
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ product.image }}" class="img-fluid" alt="{{ product.name }}">
        </div>
    <div class="col-md-8">
        <div class="card-body">
            <center>
            <h3 class="card-title">{{ product.name }}</h3>
            <p class="card-text">{{ product.description }}</p>
            <p>Price: €{{ product.price }}</p>
            <form method="post" action="{% url 'gymstore:add_to_cart' product_id=product.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
            </center>  
        </div>    
    </div>
    </div>
</div> 
</div>    
{% endblock %}
